body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d9d38b;
    padding: 20px 30px;
    border-bottom: 4px solid #c2bb70;
}

.titulo {
    text-align: center;
    color: #3b5e8c;
    font-size: 34px;
    margin: 0;
}

.subtitulo {
    text-align: center;
    font-size: 16px;
    color: #555;
    margin-top: 5px;
    margin-bottom: 15px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.menu li {
    display: inline-block;
    margin-left: 10px;
}

.menu a {
    text-decoration: none;
    background-color: #3b5e8c;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 14px;
}

.menu a:hover {
    background-color: #2c4a6f;
}

main {
    background-color: white;
    max-width: 900px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
    color: #3b5e8c;
    font-size: 26px;
    margin-top: 20px;
    border-bottom: 2px solid #d9d38b;
    padding-bottom: 5px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

main a {
    color: #3b5e8c;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    max-width: 650px;
    display: block;
    margin: 25px auto;
    border-radius: 10px;

    border: 3px solid #d9d38b;
}

footer {
    background-color: #d9d38b;
    text-align: center;
    padding: 15px;
    margin-top: 20px;

    border-top: 3px solid #c2bb70;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tarjeta {
    background-color: #ffffff;
    width: 250px;
    padding: 20px;
    border-radius: 10px;

    border: 2px solid #d9d38b;

    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

.tarjeta h3 {
    color: #3b5e8c;
    margin-top: 0;
}

.tarjeta:hover {
    transform: scale(1.03);
}

.tarjeta-contacto {
    background-color: #ffffff;
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;

    border-radius: 10px;
    border: 2px solid #d9d38b;

    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);

    text-align: center;
}

.tarjeta-contacto p {
    margin: 10px 0;
    font-size: 16px;
}